*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.wrapper {
    background: hsla(22, 30%, 21%, 1);
    background: linear-gradient(315deg, hsla(22, 30%, 21%, 1) 3%, hsla(27, 28%, 75%, 1) 100%);
    background: -moz-linear-gradient(315deg, hsla(22, 30%, 21%, 1) 3%, hsla(27, 28%, 75%, 1) 100%);
    background: -webkit-linear-gradient(315deg, hsla(22, 30%, 21%, 1) 3%, hsla(27, 28%, 75%, 1) 100%);
    color: white
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    border-bottom: 2px solid black;
    letter-spacing: 1.5px;

    .header-nav {
        list-style: none;
        display: flex;
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif;

        li {
            margin: 0 15px
        }

        a {
            color: white;
            text-decoration: none
        }
    }

    .page-title {
        font-family: 'Reem Kufi Fun', sans-serif;
        font-size: 2.4rem
    }

}

.content-container {
    min-height: 85vh;
    padding-top: 4.5vh;

    .idk {
        border: solid 2px black;
        max-width: 50%;
        margin: 0 auto;
        padding: 1.5vw;
        text-align: center;
        border-radius: 25px;

        h2 {
            font-size: 2rem;
            font-family: 'Montserrat', sans-serif;
            margin: 0 3vh;
        }

        .form-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            max-width: 50%;
            margin: 0 auto;
            overflow: hidden;
            margin-bottom: 2vh;
            border-bottom: 1px solid grey;

            input {

                position: absolute;
                bottom: 0px;
                min-width: 100%;
                border: none;
                padding: 10px;
            }

            input:focus {
                outline: none
            }

            label {
                min-width: 50%;
                height: 50px;
                border-bottom: 1px solid black;
            }

            label::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                border-bottom: 3px solid black;
                left: 0px;
                bottom: 0px;
                transform: translateX(-100%);
                transition: transform 0.3s ease
            }

            input:focus+label::after {
                transform: translateX(0%);
            }

        }
    }

    .poke-info {
        margin: 2.5rem auto;
        width: clamp(400px, 35vw, 1000px);
        min-height: 50vh;
        border-radius: 25px;
        border: 2px solid black;

        .poke-stats {
            text-align: center;
            position: relative;
        
            img {
                min-width: 28%;
                min-height: auto;
            } 
            
            h2 {
                position: absolute;
                bottom: -5%;
                left: 50%;
                transform: translate(-50%, -10%);
                letter-spacing: 1.5px
            }
        }
    }
}
